extends layout

block content
  form(
    enctype='multipart/form-data'
    method='post'
    action='/deck/new'
    class='upload-form'
  )
    label(class='upload-form__label' for='file') Upload Anki Deck</br>(must be exported as json and zipped):
    input(class='btn btn--input' name='zipfile' type='file')
    button(class='btn btn--submit' type='submit') Add Deck
